@using Microsoft.AspNetCore.Components.Web

<div class="sidebar">
    <div class="nav">
        <button @onclick="@OnDemo1">Demo 1</button>
        <button @onclick="@OnDemo2">Demo 2</button>
        <button @onclick="@OnDemo3">Demo 3 (Responsive)</button>
        <button @onclick="@OnDemo4">Demo 4 (Responsive with Breakpoints)</button>
        <button @onclick="@OnDemo5">Demo 5 (Drag in widget)</button>
        <button @onclick="@OnDemo6">Demo 6 (Multiple grids)</button>
    </div>
</div>

@code {

    [Inject] NavigationManager NavManager { get; set; } = null!;

    private void OnDemo1()
    {
        NavManager.NavigateTo("/");
    }
    
    private void OnDemo2()
    {
        Console.WriteLine("Clicked");
        NavManager.NavigateTo("/demo2");
    }
    
    private void OnDemo3()
    {
        NavManager.NavigateTo("/demo3");
    }
    
    private void OnDemo4()
    {
        NavManager.NavigateTo("/demo4");
    }

    private void OnDemo5()
    {
        NavManager.NavigateTo("/demo5");
    }

    private void OnDemo6()
    {
        NavManager.NavigateTo("/demo6");
    }
}